<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>583952475022-hbubatdo5fe22tr6d2lcrm6e98tf9ist.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583952475022-hbubatdo5fe22tr6d2lcrm6e98tf9ist</string>
	<key>API_KEY</key>
	<string>AIzaSyBungecnBXBmgrZ4UvFAFAn7NoelCmv9OM</string>
	<key>GCM_SENDER_ID</key>
	<string>583952475022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starter.app</string>
	<key>PROJECT_ID</key>
	<string>react-starter-app-28f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>react-starter-app-28f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:583952475022:ios:41246b6bdce4cdfa</string>
	<key>DATABASE_URL</key>
	<string>https://react-starter-app-28f8b.firebaseio.com</string>
</dict>
</plist>